.pagination {
  margin-top: 25px;
}
.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #0099ff;
  color: white;
  border: 1px solid #0099ff;
}
