/* BOOK DETAILS CSS */
.card-text:hover {
    text-decoration: underline;
}

.image-zoom:hover {
    cursor: zoom-in;
}

.image-zoom:active {
    transition: all 0.5s ease;
    transform: scale(1.5);
    cursor: zoom-in;
    overflow: inherit;
    z-index: 2;
}

.author-details {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.author-img {
    width: 70%;
    max-width: 250px;
    margin-right: 5%;
}

.author-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin: 5% 0 15% 5%;
}

.author-body {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin: 5% 0% 7% 0%;
}

.book-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.section {
    margin: 5%;
}

.book-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.book-details p {
    font-size: 15px;
    margin-right: 5vw;
}

.book-imgcontainer {
    justify-content: center;
    display: flex;
    width: 35vw;
    margin: 5%;
    margin-right: 15px;
}

.book-img {
    width: 27vw;
}

#book-rating {
    display: flex;
    flex-direction: row;
}

.option-button {
    height: 5vh;
    width: 20vw;
    margin-right: 15px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
}

#stars {
    margin-top: 3px;
    margin-right: 5px;
}

#rating-text {
    font-size: 13px;
    margin-top: 5px;
    color: rgb(119, 119, 119);
}

#subtitle {
    height: 5vh;
    color: rgb(72, 72, 72);
    margin-top: 0;
}

#subtitle:hover {
    text-decoration: underline;
}

/* CART CSS */
.purchase-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: right;
    width: 35%;
}

.cart-button {
    margin-right: 2%;
}
#purchase-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* min-height: 800px; */
    height: 90%;
    margin: 5% 0% 7% 0%;
}

#purchase-body {
    width: 80% !important;
}

#purchase-body th:nth-child(n + 1) {
    text-align: right;
}

#purchase-body th:first-child {
    text-align: left !important;
}

#purchase-body td:nth-child(n + 1) {
    text-align: right;
}

#purchase-body td:first-child {
    text-align: left !important;
}

/* PROFILE MANAGEMENT CSS */
.info-card {
    width: 100%;
    margin-top: 2%;

    margin-bottom: 2%;
    padding: 2%;
    background: #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: black solid 1px; */
}

.info-card-lc {
    display: flex;
    flex-direction: column;
}
.info-card-rc {
    display: flex;
    flex-direction: column;
}

.ohoh {
    position: absolute;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    width: 100%;
}

.ohoh * {
    text-align: center;
}

/* .info-card-lc h1 {
    display: flex;
    flex-direction: row;
} */

/* CSS FOR MATERIAL UI ELEMENTS AND SIGN-UP FORMS */
.app-bar,
.raised-button {
    background: #212529 !important;
}

.Login {
    margin-top: -5.5%;
}

.raised-button div {
    background: #212529 !important;
    border-radius: 25x !important;
}

.sign-in-body,
.tall-body {
    height: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
}
.sign-in-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sign-up-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 3%;
    height: 100%;
    width: 50%;
}
#sign-up-right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}
.sign-up-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -1.9%;
    margin-left: -1.8%;
}

/* CSS FOR PROFILE MANAGEMENT */

.profile-card {
    margin-bottom: 3%;
}

.profile-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CUSTOM CSS FOR NOT BORROWED ELEMENTS */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    /* background-repeat: space; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
    /* background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%); */
}

#sign-up-nav {
    margin-bottom: 5%;
}

#browse-container {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    min-height: 800px;
    height: 90%;
    z-index: 2;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* border-right: #333 1px solid; */
    /* justify-items: left; */
    padding-top: 2%;
    min-width: 270px;
    width: 270px;
    height: 100%;
    border-right: 1px solid;
    border-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(158, 158, 158, 0.6) 48%,
        rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
}

#nav-browse-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#browse-body {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    height: 100%;
    overflow: none;
}

.price-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
}

#card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
}

#jumbo-container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#browse-body-bottom {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
}

.invisible {
    display: none;
}
.show {
    display: block;
}
c.card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-link {
    color: #212529;
}

p {
    font-size: 130%;
}

.card {
    width: 18rem;
    margin: 5px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.card-top {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

a {
    color: #212529 !important;
    text-decoration: none;
    cursor: pointer;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9) !important;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    z-index: 1;
    width: 100%;
    /* position: fixed; */
    top: 0;
    /* margin-bottom: 3%; */
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-toggler {
    background: #e9e9e9 !important;
}

.sexy_line {
    display: block;
    border: none;
    color: rgba(158, 158, 158, 0.6);
    height: 1px;
    background: black;
    background: -webkit-gradient(
        radial,
        50% 50%,
        0,
        50% 50%,
        650,
        from(rgba(158, 158, 158, 0.6)),
        to(rgba(0, 0, 0, 0))
    );
}

#home-logo {
    margin-left: 30px;
    padding-right: 30px;
}

#profile-page {
    margin-top: 3%;
}

.jumbotron {
    background-color: rgba(
        255,
        255,
        255,
        0
    ) !important; /*This will make jumbotron color transparent*/
    height: 100%;
    position: absolute;
}

.header-text {
    margin-top: 4%;
    margin-left: 3%;
    font-weight: 400 !important;
}

/* Following to objects are used to create a transparent photo background */
.header {
    height: 100%;
    display: block;
    position: relative;
    /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); */
}

.header::after {
    height: 100%;
    content: '';
    background: url(../img/img2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* -----------Tweaking Semantic-UI -----------*/

.or:before {
    background: #e9e9e9 !important;
}

.button {
    background: rgba(224, 225, 226, 0) !important;
}

.sign-button {
    font-weight: 400;
    transition: all 0.3s;
}

.sign-button a {
    color: #333 !important;
}

/*-----------FOOTER STYLING BELOW---------------------*/

.footer-links {
    color: white !important;
}

.footer-bs {
    height: 400px;
    background-color: #3c3d41;
    padding: 80px;
    color: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.8);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1);
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.1);
    }
}

/*------------------- Float Shadow -------------------------*/
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    font-size: 1.5em;
    padding-top: 2%;
    cursor: pointer;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
        center,
        ellipse,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
