@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  input.error {
    border-color: red;
  }
}
